$small: 365px;
$medium: 650px;
$big: 1025px;
@mixin blockstyle {
    display: flex;
    height: 30px;
    font-family: sans-serif;
    font-style: normal;
    color: darkgrey;
    align-items: center;
    margin: 2.5px;
    @media screen and (min-width: $small) and (max-width: $medium) {
        height: 30px;
    }
    @media screen and (min-width: $medium) and (max-width: $big) {
        height: 35px;
    }
    @media screen and (min-width: $big){
        height: 40px;
    }
}
@mixin buttonstyle {
    align-items: center;
    background-color: royalblue;
    color: white;
    height: 40px;
    border: none;
    border-radius: 5px;
}
* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
section {
    display: flex;
    justify-content: center;

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (min-width: $small) and (max-width: $medium) {
        width: $small;
    }
    @media screen and (min-width: $medium) and (max-width: $big) {
        width: $medium;
    }
    @media screen and (min-width: $big){
        width: $big;
    }
    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 10px 0 10px 0;
        @media screen and (min-width: $small) and (max-width: $medium) {
            width: calc(365px*0.9);
        }
        @media screen and (min-width: $medium) and (max-width: $big) {
            width: calc(650px*0.9);
        }
        @media screen and (min-width: $big){
            width: calc(1025px*0.9);
        }
        .Title {
            font-size: 34px;
            color: #111a45;
            height: 100px;
            text-align: center;
            margin-top: 10px;
            mark {
                background-color: inherit;
                color: royalblue;
            }
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .field {
            padding: 0 0 10px 10px;
            select,
             input
        {
            @include blockstyle;
            resize: none;
            width: 100%;
        }
        }
        textarea {
            @include blockstyle;
            resize: none;
            @media screen and (min-width: $small) and (max-width: $medium) {
                height: 80px;
                width: 94%;
            }
            @media screen and (min-width: $medium) and (max-width: $big) {
                height: 50%;
                width: 40%;
                margin: 0 0 0 20px;
            }
            @media screen and (min-width: $big){
                height: 60%;
                width: 40%;
                margin: 0 0 0 20px;
            }
        }
        .button {
            @include buttonstyle;
        }
    }
    }
    .box:nth-child(2){
        .container {
            width: 90%;
            .field {

                    @media screen and (min-width: $small) and (max-width: $medium) {
                        width: 90%;
                    }
                    @media screen and (min-width: $medium) and (max-width: $big) {
                        width: 40%;
                    }
                    @media screen and (min-width: $big){
                        width: 40%;
                    }
                }
            }
        }
    }
    .box:nth-child(3){
        background-color: lightblue;
        border: 3px solid gainsboro;
        border-radius: 5px;
        color: dimgrey;
        height: 350px;
        justify-content: center;
        p {
            width: 100%;
        }
        .container {
            display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @media screen and (min-width: $small) and (max-width: $medium) {
           width: 100%;
        }
        @media screen and (min-width: $medium) and (max-width: $big) {
            width: 265px;
        }
        @media screen and (min-width: $big){
            width: 425px;
        }
        .field{
            display: flex;
            justify-content: center;
            input,
            select {
                @media screen and (min-width: $small) and (max-width: $medium) {
                    width: 100%;
                 }
                 @media screen and (min-width: $medium) and (max-width: $big) {
                    width: 265px;
                 }
                 @media screen and (min-width: $big){
                     width: 425px;
                 }
            }
        }
        }
        .container:nth-child(4){
            justify-content: center;
            @media screen and (min-width: $small) and (max-width: $medium) {
                width: $small;
             }
             @media screen and (min-width: $medium) and (max-width: $big) {
                width: $medium;
             }
             @media screen and (min-width: $big){
                width: $big;
             }
            .field{
                display: flex;
                @media screen and (min-width: $small) and (max-width: $medium) {
                    flex-direction: column;
                 }
                 @media screen and (min-width: $medium) and (max-width: $big) {
                    flex-direction: row;
                 }
                 @media screen and (min-width: $big){
                    flex-direction: row;
                 }
            input {
                 @media screen and (min-width: $medium) and (max-width: $big) {
                    width: 80%;
                 }
                 @media screen and (min-width: $big){
                    width: 90%;
                 }
            }
        }

            
        }
        .button:nth-child(5) {
            @media screen and (min-width: $small) and (max-width: $medium) {
                width: 90%;
             }
             @media screen and (min-width: $medium) and (max-width: $big) {
                width: 30%;
             }
             @media screen and (min-width: $big){
                width: 30%;
             }
        }

    }
    .box:nth-child(4) {
        justify-content: start;
        font-size: 12px;
        p {
            margin: 0 0 20px 0;
        }
        .insightsbox { 
            display: flex;
            width: inherit;
            input {
                margin: 0 10px 10px 0;
            }
            .label {
                margin: 0 0 10px 0;
            }
            .checkbox {
                display: none;
            }
            .fake {
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 0.5px solid ;
                border-color: #4158D0;
                border-radius: 20px;
                position: relative;
            }
            .fake::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 16px;
                height: 16px;
                background: url(switch.png) no-repeat;
                opacity: 0;
                transition: 0.3s;
            }
            .checkbox:checked + .fake::before {
                opacity: 1;
            }
        }
        .send {
            input {
                background-color: green;
                border: none;
                border-radius: 20px;
                height: 40px;
                width: calc(365px*0.9);
                color: white;
                margin: 0 0 20px 0;
            }
        }
    .containerinb {
        @media screen and (min-width: $small) and (max-width: $medium) {
            width: 100%;
         }
         @media screen and (min-width: $medium) and (max-width: $big) {
            display: flex;
            justify-content: left;
            width: 100%;
         }
         @media screen and (min-width: $big){
            display: flex;
            justify-content: left;
            width: 100%;
         }
    }
    }
