* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .field input {
        background-color: black;
    }
    .field select {
        background-color: black;
    }
    .box textarea {
        background-color: black;
    }
    .box button {
    }
    .container { 
        display: flex;
        flex-wrap: nowrap;
    }
        }