* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
}
section form .box {
  background-color: red;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section form .box .Title {
  font-size: 1.4em;
  margin: auto 0;
  background-color: blueviolet;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
section form .box .Title mark {
  background-color: inherit;
  color: blue;
}
section form .box .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .box:first-child {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}