* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 365px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
section .field input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 365px;
  height: 30px;
  font-family: sans-serif;
  font-style: normal;
  color: darkgrey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5px;
}
section .field select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 365px;
  height: 30px;
  font-family: sans-serif;
  font-style: normal;
  color: darkgrey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5px;
}
section .box textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 365px;
  height: 30px;
  font-family: sans-serif;
  font-style: normal;
  color: darkgrey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5px;
  resize: none;
}
section .box button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: royalblue;
  color: white;
  height: 30px;
  width: 30%;
  border: none;
  border-radius: 1%;
}
section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}