* {
    margin: 0%;
    padding: 0%;
}
.container {
    background-color: blueviolet;
    display: flex;
  flex-wrap: wrap;
}
.item {
    background-color: coral;
    border-radius: 10%;
    width: 100px;
    flex: 50%;
}
@media (max-width: 800px) {
    .item {
      flex: 100%;
    }
  }